#main-player-container.larger-font {
    .shell-container {
        .player-wrapper {
            .learnosity-item {
                &.replace-answers {
                    .lrn_math_editable {
                        * {
                            color: #000
                            font-family: 'Muli', sans-serif !important
                        }
                    }

                    .stored-answers {
                        color: #000
                        font-family: 'Muli', sans-serif !important
                    }
                }

                .lrn_widget .MathJax, .lrn.lrn_widget.lrn_feature.lrn_sharedpassage, .lrn_widget.lrn_mcq .lrn_mcqgroup.lrn_mcqgroup-horizontal .lrn_contentWrapper, .lrn_widget.lrn_mcq .lrn_mcqgroup.lrn_mcqgroup-vertical .lrn_contentWrapper, .lrn_simplechart .lrn_chart_placeholder, .lrn_widget.lrn_graphplotting .lrn_response_wrapper .lrn_graph_title {
                    font-size: 22px
                    font-weight: 600
                }

                .lrn_widget .MathJax, .lrn_widget .MathJax * {
                    font-weight: 500
                }

                .lrn_widget .lrn_correctAnswers .MathJax {
                    font-weight: 500
                }

                .lrn_texteditor {
                    .lrn .lrn_btn.lrn_disabled, .lrn .lrn_btn[disabled] {
                        pointer-events: none
                    }
                }

                .lrn_widget .lrn_responseIndex {
                    line-height: 1.5em
                }

                .lrn_widget.lrn_association .lrn_response_container.lrn_dragdrop .lrn_correct .lrn_responseIndex, .lrn_widget.lrn_association .lrn_response_container.lrn_dragdrop .lrn_incorrect .lrn_responseIndex, .lrn_widget.lrn_association .lrn_response_container.lrn_dragdrop .lrn_responseIndex {
                    bottom: 0
                    left: 0
                    line-height: 1.5em
                    padding: .5em
                    top: 0
                }

                .lrn .lrn_btn_drag>span {
                    font-size: 22px
                }

                .lrn_qr .lrn-clozeformula-input .lrn_math_editable.lrn_bordered_mathinput {
                    height: 44px
                }

                &.multiple-response {
                    .lrn_widget.lrn_clozeformula .lrn_display_correct_answer_enabled .lrn_textinput.lrn-clozeformula-input.lrn_incorrect {
                        margin-left: 40px
                    }
                }

                .lrn_widget.lrn_clozechemistry .lrn_textinput.lrn-clozeformula-input.lrn_correct, .lrn_widget.lrn_clozechemistry .lrn_textinput.lrn-clozeformula-input.lrn_correct.lrn_disabled, .lrn_widget.lrn_clozechemistry .lrn_textinput.lrn-clozeformula-input.lrn_incorrect, .lrn_widget.lrn_clozechemistry .lrn_textinput.lrn-clozeformula-input.lrn_incorrect.lrn_disabled, .lrn_widget.lrn_clozeformula .lrn_textinput.lrn-clozeformula-input.lrn_correct, .lrn_widget.lrn_clozeformula .lrn_textinput.lrn-clozeformula-input.lrn_correct.lrn_disabled, .lrn_widget.lrn_clozeformula .lrn_textinput.lrn-clozeformula-input.lrn_incorrect, .lrn_widget.lrn_clozeformula .lrn_textinput.lrn-clozeformula-input.lrn_incorrect.lrn_disabled {
                    padding-top: 0
                }

                .lrn b, .lrn strong, .lrn .lrn_width_auto {
                    font-family: 'Muli', sans-serif !important
                    font-size: 22px
                    font-weight: 600
                }

                .lrn .lrn_btn_drag>span {
                    margin-left: 0
                }

                .lrn_widget .lrn_correctAnswerList.lrn_single_correct_answer li {
                    border-left: 0
                }
            }

            // .custom-container,
            .container.customImg, .comp-type-html {
                font-size: 22px
            }

            .dnd-component-wrapper {
                .headers {
                    font-size: 22px
                }
            }

            .shader-holder {
                .grid-create-label, .create-grid.controlBtn, .grid-error-label.error {
                    font-size: 22px
                }
            }
        }
    }

    .runtime {
        .lrn_stimulus_content {
            font-size: 22px
        }

        .lrn .lrn_question, .lrn .lrn_response_input, .lrn .lrn_correctAnswers, .lrn .mq-math-mode *, .lrn .mq-math-mode :after, .lrn .mq-math-mode :before {
            font-size: 22px
        }

        .lrn .lrn_cloze_response {
            height: 44px !important
        }
    }
}
