<div class="learnosity-holder">
    <div class="control-wrapper form-group">
        <label class="data-ref-label" for="ref-{{modelID}}">Learnosity ID: </label>
        <input type="text" class="data-ref form-control" id="ref-{{modelID}}" />
    </div>
</div>