<div class="number-addition-container">
    <div class="left-section">
        <div class="top-section">
            <div class="first-number-section number-section">
                <div class="number-holder">
                </div>
            </div>
            <div class="second-number-section number-section">
                <div class="second-number number-holder">

                </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="sum-number-section number-section">
                <div class="sum-number number-holder"></div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="tool-validation">
            <div class="validation-mark">
                <div class="correct-icon validation-icon">
                    <span class="bil-icon-done"></span>
                </div>
                <div class="incorrect-icon validation-icon">
                    <span class="bil-icon-close"></span>
                </div>
            </div>
        </div>
    </div>
</div>