<div class="button-wrapper">
    <button id="group" class="controlBtn grouping-btn">
        <i class="bil-icon-fit-to-screen font-icons"></i>
    </button>
    <div class="button-label">Group</div>
</div>
<div class="button-wrapper">
    <button id="ungroup" class="controlBtn grouping-btn">
        <i class="bil-icon-fullscreen font-icons"></i>
    </button>
    <div class="button-label">Ungroup</div>
</div>
<div class="button-wrapper">
    <button id="confirm" class="controlBtn validation-btn hide">
        <i class="bil-icon-check font-icons"></i>
    </button>
    <div class="button-label">Confirm</div>
</div>
<div class="button-wrapper">
    <button id="cancel" class="controlBtn validation-btn hide">
        <i class="bil-icon-close font-icons"></i>
    </button>
    <div class="button-label">Cancel</div>
</div>