.custom-keypad-container {
    position: fixed !important

    .lrn_btn_grid:not(:nth-child(4n+1)) {
        margin-left: -4px !important
    }

    &.lrn_widget .lrn-formula-keyboard .keypad-btn-group {
        white-space: nowrap
        width: 100%
    }

    button {
        font-family: Arial !important
    }
}