.tasker {
    font-family: Arial;
}

.tasker * {
    box-sizing: border-box;
}

.tasker .header {
    width: 100%;
    text-align: center;
    height: 40px;
    background: #7fffd4;
    font: bold 20px Arial;
    line-height: 40px;
}

.tasker .board {
    min-height: 100px;
    width: 100%;
    background: #f32671;
}

.tasker .board-header {
    height: 100px;
    width: 100%;
    position: relative;
}

.tasker .card-control {
    float: right;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
}

.tasker .card-title-control {
    width: 200px;
    height: 40px;
    margin: 10px;
    float: left;
    cursor: text;
    font-size: 14px;
    background: aliceblue;
    overflow: auto;
    padding: 10px;
}

.tasker .card-title-control:empty + .add-card {
    opacity: 0.5;
    cursor: not-allowed;
}

.tasker .add-card {
    height: 40px;
    width: 110px;
    border-radius: 5px;
    background: #ffe4c4;
    float: left;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.tasker .card-container:empty {
    text-align: center;
}

.tasker .card-container:empty:after {
    content: "Nothing to show here";
    opacity: 0.7;
    font-style: italic;
    padding: 10px;
}

.tasker .card-container {
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.tasker .card-container .card {
    width: 270px;
    height: 100%;
    margin: 0 5px;
    display: inline-block;
    white-space: nowrap;
    background: #ff7f50;
    border-radius: 5px;
    vertical-align: top;
}

.tasker .card-container .card .card-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.tasker .card-container .card .card-title {
    padding: 10px 10px 0;
    font-weight: bold;
    display: inline-block;
}

.tasker .card-container .card .tasks-container:empty {
    text-align: left;
}

.tasker .card-container .card .tasks-container:empty:after {
    content: "Nothing to show here";
    opacity: 0.7;
    font-style: italic;
    padding: 10px;
}

.tasker .card-container .card .tasks-container {
    padding: 10px;
}

.tasker .card-container .card .tasks-container .task {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    max-width: 270px;
    min-height: 50px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
}

.tasker .card-container .card .add-task-control {
    padding: 10px;
    display: none;
}

.tasker .card-container .card .add-task-control .task-content-control {
    width: 100%;
    min-height: 50px;
    background: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px;
    margin-bottom: 10px;
}

.tasker .card-container .card .add-task-control .task-content-control:empty + .add-control {
    opacity: 0.5;
    cursor: not-allowed;
}

.tasker .card-container .card .add-task-control .add-control {
    width: 70px;
    height: 30px;
    line-height: 30px;
    background: #00ff7f;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    float: left;
}

.tasker .card-container .card .add-task-control .delete-icon {
    font-size: 30px;
    cursor: pointer;
    float: left;
    transform: rotate(45deg);
}

.tasker .card-container .card .add-task {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.tasker .card-container .card .add-task:hover {
    text-decoration: underline;
    color: #ddd;
}

.tasker .edit-task-content {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    display: none;
}

.tasker .edit-task-content:hover {
    background: rgba(80, 80, 80, 0.7);
}

.tasker .task:hover .edit-task-content {
    display: block;
}

.tasker .edit-task-content .edit-icon {
    transform: scale(0.4);
    position: absolute;
    top: 8px;
    left: 0px;
}

.tasker .edit-icon {
    width: 0;
    height: 0;
    border-bottom: 10px solid #000;
    border-right: 10px solid transparent;
}

.tasker .edit-icon:after {
    content: '';
    width: 30px;
    height: 14.13px;
    background: #000;
    display: block;
    transform: rotate(-45deg);
    transform-origin: left top;
}
