.tasker {
    font-family: Arial;
}

.tasker * {
    box-sizing: border-box;
}

.tasker .header {
    width: 100%;
    text-align: center;
    height: 40px;
    background: #7fffd4;
    font: bold 20px Arial;
    line-height: 40px;
}

.tasker .board {
    min-height: 100px;
    width: 100%;
    background: #f32671;
}

.tasker .board-header {
    height: 100px;
    width: 100%;
    position: relative;
}

.tasker .card-control {
    float: right;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
}

.tasker .card-title-control {
    width: 200px;
    height: 40px;
    margin: 10px;
    float: left;
    cursor: text;
    font-size: 14px;
    background: aliceblue;
    overflow: auto;
}

.tasker .card-title-control:empty + .add-card {
    opacity: 0.5;
    cursor: not-allowed;
}

.tasker .add-card {
    height: 40px;
    width: 110px;
    border-radius: 5px;
    background: #ffe4c4;
    float: left;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.tasker .card-container:empty {
    text-align: center;
}

.tasker .card-container:empty:after {
    content: "Nothing to show here";
    opacity: 0.7;
    font-style: italic;
    padding: 10px;
}

.tasker .card-container {
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.tasker .card-container .card {
    width: 270px;
    height: 100%;
    margin: 0 5px;
    display: inline-block;
    white-space: nowrap;
    background: #ff7f50;
    border-radius: 5px;
}

.tasker .card-container .card .card-title {
    padding: 5px;
    font-weight: bold;
    display: inline-block;
}

.tasker .card-container .card .task-container:empty {
	text-align: center;
}

.tasker .card-container .card .task-container:empty:after {
    content: "Nothing to show here";
    opacity: 0.7;
    font-style: italic;
    padding: 10px;
}
.card{
    width:270px;
    display: inline-block;
    white-space: nowrap;
}
