<div class="custom_widget_container algebra_tiles_wrapper" role="application">
    <div class="algebra_tiles_container" tabindex="0">
        <span class="tiles-header-text">Algebra Tiles</span>
        <div class="tileContainer">
            <div class="draggable draggable4 tile plusXSquare" data-tile-type="3" tabindex="-1" data-size="4">
                <span class="bil-icon-plus tile-icon"></span>
            </div>
        </div>
        <div class="tileContainer">
            <div class="draggable draggable4 tile minusXSquare" data-tile-type="7" tabindex="-1" data-size="4">
                <span class="bil-icon-minus tile-icon"></span>
            </div>
        </div>
        <div class="tileContainer">
            <div class="draggable draggable2 tile plusXHorizontal" data-tile-type="2" tabindex="-1" data-size="2">
                <span class="bil-icon-plus tile-icon"></span>
            </div>
            <div class="draggable draggable2 tile minusXHorizontal" data-tile-type="6" tabindex="-1" data-size="2">
                <span class="bil-icon-minus tile-icon"></span>
            </div>
        </div>
        <div class="tileContainer">
            <div class="draggable draggable3 tile plusXVertical" data-tile-type="1" tabindex="-1" data-size="3">
                <span class="bil-icon-plus tile-icon"></span>
            </div>
        </div>
        <div class="tileContainer">
            <div class="draggable draggable3 tile minusXVertical" data-tile-type="5" tabindex="-1" data-size="3">
                <span class="bil-icon-minus tile-icon"></span>
            </div>
        </div>
        <div class="tileContainer">
            <div class="draggable draggable1 tile minus" data-tile-type="4" tabindex="-1" data-size="1">
                <span class="bil-icon-minus tile-icon"></span>
            </div>
            <div class="draggable draggable1 tile plus" data-tile-type="0" tabindex="-1" data-size="1">
                <span class="bil-icon-plus tile-icon"></span>
            </div>
        </div>
    </div>
    <div class="grids-container"></div>
</div>