.dlo-container{
    height: 100%;
    background-color: white;
}
.activity-main-container {
    text-align: center;
}

.alignment-div {
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
}