<div class="learnosity-container{{#if keepEnabled}} keep-enabled{{/if}}">
    <div class="learnosity-item learnosity-item-collection{{#if replaceAnswers}} replace-answers{{/if}}" data-reference="{{dataReference}}"></div>
</div>