.context-menu {
    background-color: #f3f3f3
    border: solid 2px black
    color: #012955
    position: absolute
    z-index: 11

    ul {
        list-style: none
        margin: 0
        padding: 5px

        .content:hover {
            background-color: #fff
            cursor: pointer
        }
    }
}