<div class="preloader" align="center">
    <div class="progress-box-container">
        <div class="progress-box">
            <div class="progress-bar-container">
                <div class="throbber-wrapper">
                    <div class="throbber-container">
                    </div>
                </div>
            </div>
        </div>
        <div class="in-progress-text" style="color:white"></div>
    </div>
</div>
<div class="player" texthelpcmd="list" texthelpcmd1="bookid:{{bookId}}"  texthelpcmd2="pageid:{{pageId}}">
    <div class="header-container font-montserrat-regular">
        <div class="header-background">
            <div class="header-left"></div>
            <div class="header-middle"></div>
            <div class="header-right"></div>
        </div>

        <div class="header-content">
        </div>
    </div>
    <div class="tabs-container"></div>
    <div class="activity-area-container">
    </div>
    <div id="text-dimentions-hack" style="float:initial;  min-height: initial;margin-left: initial;line-height:normal;"></div>
</div>
