<div class="geometry-tool-holder">

    <div class="geometry-tool-playground">
        <div class="tools-panel"></div>

        <div class="graph-container" role="application" aria-label="Graph">
            <div class="graph-app">
                <canvas class="grid-graph" width="350" height="350"></canvas>
                <canvas class="drawing-graph"></canvas>
                <div class="graph-old-text hidden"></div>
                <br/>
                <div id="graph-new-text hidden" role="alert" aria-live="assertive" aria-atomic="true"></div>
            </div>
        </div>

        <div class="graph-live-text hidden" aria-hidden="true" aria-live="assertive" aria-atomic="true"></div>
        <div class="graph-alert-text hidden" aria-hidden="true" role="alert" aria-live="assertive" aria-atomic="true"></div>
        <div id="transform-dialogs"></div>
    </div>
</div>