<div *ngIf='!dataLoaded' class="activity-main-container fo loader">
  <div class="alignment-div"></div>
  <img src="./assets/common/images/preloader.gif">
</div>
<div *ngIf="dataLoaded" class="dlo-container activity-main-container fo" [ngClass]="{'isAndroid':isAndroid,'isSafari':isSafari}">
  <header>
    <app-header dloName="dloTitle"></app-header>
  </header>
  <nav>
    <app-tab-bar></app-tab-bar>
  </nav>
  <!-- <app-popup #introPopUp></app-popup> -->
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<div *ngIf="imagesDataReady" class="preload-images">
  <img [src]="images[currentImage]" (load)="onImageLoad()">
</div>