<div class="learnosity-facade-container" validation={{validationFn}} showans=={{showAnswerFn}}>
    <div class="learnosity-item learnosity-facade-item learnosity-item-collection" data-reference="{{dataReference}}"></div>
</div>