<div id="{{containerID}}-check-box-outer" class="check-box-outer-common-componenet">
    <div id="{{containerID}}-check-box-icon-cover" class="check-box-icon-cover-common-componenet">
        <div id="{{containerID}}-check-box-inner-icon" class="check-box-inner-icon-common-componenet"></div>
    </div>
    <div id="{{containerID}}-check-box-inner-label" class="check-box-inner-label-common-componenet"></div>
</div>