<div class="explore-graph-acc-container"></div>
<div class="canvas-holder">
  <canvas class="canvas-element" height="{{height}}" width="{{width}}"></canvas>
  <div class="canvas-tooltip"></div>
</div>
