<div>
  <div class="hintfeedback-header">
    <div class="hintfeedback-button-panel"></div>
  </div>
  <div class="hintfeedback-content">
    <div id ="{{container-id}}-acc-panel" class="feedback-acc-panel"></div>
    <div id ="{{container-id}}-scroll-panel" class="feedback-scroll-panel">
      <div id="{{container-id}}-text-panel" class="inner-text-panel"></div>
    </div>
  </div>
</div>