<div class="{{idPrefix}}pan-balance-wrapper pan-balance-wrapper-main">

    <div class="pan-wrapper left-pan-wrapper">
        <div class="left-tile-container tile-container">
            <div class="static-container"></div>
            <div class="dynamic-container">
                <div class="dynamic-wrapper" data-pos="left"></div>
            </div>
        </div>
        <div class="pan left-pan">
            <div class="pan-data typography-label">
                <span class="pan-label"></span>
            </div>
        </div>
    </div>

    <div class="pan-wrapper right-pan-wrapper">
        <div class="right-tile-container tile-container">
            <div class="static-container"></div>
            <div class="dynamic-container">
            <div class="dynamic-wrapper" data-pos="right"></div>
            </div>
        </div>
        <div class="pan right-pan">
            <div class="pan-data typography-label">
                <span class="pan-label"></span>
            </div>
        </div>
    </div>

    <div class="dispenser-container">
        <div class="dispenser-wrapper">
            <div class="dispenser-row-1"></div>
            <div class="dispenser-row-2"></div>
        </div>
    </div>

    
    <div class="center-rod"></div>
    <div class="base"></div>
    <div class="small-rod left-small-rod"></div>
    <div class="small-rod right-small-rod"></div>

</div>
