<div class="pan-balance-draggable-tile-wrapper">
    <div class="pan-balance-draggable-tile-top-container">
        <div class="pan-balance-draggable-tile-left-shadow shadow">
        </div>
        <div id="{{idPrefix}}-draggable-tile-text-container" class="pan-balance-draggable-tile-text-container">
            <div class="pan-balance-draggable-tile-text-container-left-part">
            </div>
            <div class="pan-balance-draggable-tile-text-container-middle-part">
                <div class="pan-balance-draggable-tile-text">
                </div>
                <div class="pan-balance-draggable-tile-dots">
                </div>
            </div>
            <div class="pan-balance-draggable-tile-text-container-right-part">
            </div>
        </div>
        <div class="pan-balance-draggable-tile-right-shadow shadow">
        </div>
    </div>
    <div class="pan-balance-draggable-tile-bottom-shadow shadow">
    </div>
</div>
