{{#if radioButtonLabel.length}}
{{#radioButtonLabel}}
<div class="de-mathematics-interactive-radio-button single-radio-container">
    <div id="{{radioID}}" class="de-mathematics-interactive-radio-button image-container float-left radio-elements normal"></div>
    <div class="de-mathematics-interactive-radio-button text-container float-left radio-elements">{{text}}</div>
</div>
{{/radioButtonLabel}}
{{/if}}

