<div id="{{columnID}}" class="tbl-header-sort-container">
	<div class="tbl-header-up-arrow-container">
		<div class="tbl-header-up-arrrow-image"></div>
	</div>
	<div class="tbl-header-down-arrow-container">
		<div class="tbl-header-down-arrrow-image"></div>
	</div>
</div>