{{#if radioButtonLabel.length}}
{{#radioButtonLabel}}
<div class="de-mathematics-interactive-theme2-radio-button single-theme2-radio-container">
    <div id="{{radioID}}" class="de-mathematics-interactive-theme2-radio-button radio-button-div-container float-left normal">
	 <div class="theme2-radio-button-selceted-dot-container radio-elements">
		<div class="theme2-radio-button-selceted-dot"></div>
	 </div>
	</div>
    <div class="de-mathematics-interactive-radio-button text-container radio-elements typography-body-text">{{{text}}}</div>
</div>
{{/radioButtonLabel}}
{{/if}}