<div id="{{idPrefix}}-toggle-button-containment" class="toggle-button-containment">
    <div>
        <div id="{{idPrefix}}-on-text" class ="on-text"></div>
    </div>
    <div id="{{idPrefix}}-handle" class="handle"></div>
    <div id="{{idPrefix}}-off-text" class="off-text"></div>
</div>