<div class="de-mathematics-interactive-tooltip tooltips" id="{{id}}"> 
    <div class="de-mathematics-interactive-tooltip tooltip-left"></div> 
    <div class="de-mathematics-interactive-tooltip tooltip-mid">{{{content}}}</div>
    <div class="de-mathematics-interactive-tooltip tooltip-right"></div>
    <div class="de-mathematics-interactive-tooltip tooltip-arrow"></div>
</div>
