<div class="click-n-click-container">
    <div class="left-section">
        <div class="counters-wrapper">
            {{#each counterArea}}
            <div class="counter-area" type={{this.type}}>

            </div>
            {{/each}}
        </div>
    </div>
    <div class="right-section">
        <div class="tool-validation">
            <div class="validation-mark">
                <div class="correct-icon validation-icon">
                    <span class="bil-icon-done"></span>
                </div>
                <div class="incorrect-icon validation-icon">
                    <span class="bil-icon-close"></span>
                </div>
            </div>
        </div>
    </div>
</div>