<div class="activity-top-bar navbar-fixed-top">
  <div class="top-bar-container">
    <div class="nfte-logo" style=" font-family: 'Pompiere'">
      <a draggable=false href="http://www.nfte.com" target="_blank" tabindex="0" (focus)='onFocus($event)' (blur)='onBlur($event)'
        role="link" id="nfte-logo-link">
        <img draggable=false src="assets/common/images/nfte-logo-header.png" alt="nfte">
      </a>
    </div>
    <div class="activity-name">
      <app-text [textId]=dloName></app-text>
    </div>
  </div>
</div>