/****/
.de-mathematics-interactive.conic-explorer .direction-text-text {
    background-color: #FFFCF5;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #505050;
}
/**------------------------------- Data Tab Styles -------------------------------**/

.de-mathematics-interactive.conic-explorer .data-tab-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.de-mathematics-interactive.conic-explorer .record-data-table-container {
    width: 899px;
    margin-left: 23px;
}

.de-mathematics-interactive.conic-explorer .horizontal-diagram-container,
.de-mathematics-interactive.conic-explorer .vertical-diagram-container {
    position: absolute;
    width: 463px;
    min-height: 225px;
    bottom: 42px;
}

.de-mathematics-interactive.conic-explorer .vertical-diagram-container {
    right: 0px;
}

.de-mathematics-interactive.conic-explorer .your-data-label,
.de-mathematics-interactive.conic-explorer .equation-container {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    color: #555555;
}

.de-mathematics-interactive.conic-explorer .graph-formula .graph-plus {
    margin: 15px 9px 0px 4px;
}

.de-mathematics-interactive.conic-explorer .your-data-label {
    font-size: 18px;
    margin: 12px 24px;
    line-height: 18px;
    margin-bottom: 8px;
}

.de-mathematics-interactive.conic-explorer .horizontal-equation-label,
.de-mathematics-interactive.conic-explorer .vertical-equation-label {
    position: absolute;
    left: 53px;
}

.de-mathematics-interactive.conic-explorer .diagram-image {
    min-width: 200px;
    min-height: 100px;
    margin: auto;
}

.de-mathematics-interactive.conic-explorer .vertical-separator {
    position: absolute;
    bottom: 18px;
    left: 464px;
    border-right: 1px solid #C4C4C4;
    height: 278px;
}

.de-mathematics-interactive.conic-explorer .horizontal-diagram-container .equation-container {
    position: relative;
    width: 470px;
    left: -16px;
}

.de-mathematics-interactive.conic-explorer .vertical-diagram-container .equation-container {
    position: relative;
    width: 470px;
    left: -36px;
}

.de-mathematics-interactive.conic-explorer .equation-container .equation-label {
    float: left;
}

.de-mathematics-interactive.conic-explorer .equation-container .horizontal-equation-text,
.de-mathematics-interactive.conic-explorer .equation-container .vertical-equation-text {
    position: absolute;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.de-mathematics-interactive.conic-explorer .equation-container .horizontal-equation-text{
    left: 263px;
}

.de-mathematics-interactive.conic-explorer .equation-container .vertical-equation-text {
    left: 250px;
}

/**--Data Table Styles--**/
.de-mathematics-interactive.conic-explorer .conic-header-row {
    background-color: #B9E3ED;
    box-shadow: inset 0px 3px #FFFFFF;
    color: #036F8A;
}

.de-mathematics-interactive.conic-explorer .conic-header-row.col_0 {
    box-shadow: inset 2px 3px #FFFFFF;
}

.de-mathematics-interactive.conic-explorer .conic-header-row.sorting-enabled .tbl-header-up-arrrow-image {
    border-bottom: 6px solid #27869E;
}

.de-mathematics-interactive.conic-explorer .conic-header-row.sorting-enabled .tbl-header-down-arrrow-image {
    border-top: 6px solid #27869E;
}

.de-mathematics-interactive.conic-explorer .conic-data-row {
    color: #27869E;
    font-family: Verdana;
    height: 68px;
}

.de-mathematics-interactive.conic-explorer .record-data-table-container .conic-table-border {
    border-color: #80B6C3 !important;
}

.de-mathematics-interactive.conic-explorer .record-data-table-container .center-sort {
    display: none;
}

.de-mathematics-interactive.conic-explorer .record-data-table-container .attempt-number.added-buttons {
    float: left;
    margin: 0px 10px;
}

.de-mathematics-interactive.conic-explorer .record-data-table-container td .custom-btn {
    float: left;
    position: relative;
    text-align: left;
    font-weight: normal;
    background-color: #036f8a;
    border-radius: 2px;
}

.de-mathematics-interactive.conic-explorer .record-data-table-container td .custom-btn.hover {
    background-color: #228ca6;
}



.de-mathematics-interactive.conic-explorer .conic-graph-acc-container{
    position: absolute;
    width: 774px;
    height: 438px;
    left: 143px;
    top: 89px;
}
/**--End of Data Table Styles--**/

/**------------------------------- Data Tab Styles -------------------------------**/
