.parent-random-type-container {
    position: relative
    text-align: center

    .animation-wrapper {
        display: inline-block
        position: relative
    }

    .position-boxes.chit-2 {
        margin-left: 4px
        position: absolute
        top: 82px

        .number-container {
            height: 84px
            margin-left: 2px
            margin-right: 26px
            width: 84px
        }
    }

    $side = 30px
    $border = 2px

    .chit-text-group {
        font-size: 16px
        height: 12px
        margin-bottom: 14px
        margin-left: 9px
        margin-top: 0
        position: absolute

        &.control-group {
            top: 65px
            margin-left: 54px
        }

        &.treatment-group {
            top: 172px
            margin-left: 44px
        }
    }

    .position-boxes.chit-10 {
        margin-left: 6px
        position: absolute
        top: 91px
        width: 198px

        &.tenChitBottom {
            top: 200px
        }

        .number-container {
            font-size: 1.1em
            height: $side
            line-height: 25px
            margin-bottom: 10px
            margin-right: 7px
            width: $side
        }
    }
}

.custom-container {
    .random-numbers-log-chit {
        height: 152px
    }
}
