.random-dice-container {
    .random-dice-container {
        margin-bottom: 20px
        margin-top: 10px
    }

    .all-dice-container {
        margin-top: 26px
        text-align: center
    }

    .random-number-container {
        margin-top: 22px
        text-align: center
    }
}