{{#if isLHS}}
	<div class='left-expression-container equation-common'><div class='left-expression equation-common expression-common'>
{{else}}
	<div class='right-expression-container equation-common'><div class='right-expression equation-common expression-common'>
{{/if}}
	{{{exprBody}}}
</div></div>