<div class="tool-name-container">
    <div class="left-secion">
        <!-- Add tool here -->
    </div>
    <div class="right-section">
        <div class="tool-validation">
            <div class="validation-mark">
                <div class="correct-icon validation-icon">
                    <span class="bil-icon-done"></span>
                </div>
                <div class="incorrect-icon validation-icon">
                    <span class="bil-icon-close"></span>
                </div>
            </div>
        </div>
    </div>
</div>