body {
    align-items: center
    box-sizing: border-box
    color: #35455a
    font-family: 'PT Sans', helvetica
    font-size: 14px
    font-weight: 700
    justify-content: center
    margin: 0

    * {
        box-sizing: border-box
    }

    .app-holder {
        align-items: center
        justify-content: center
        margin: 10px auto
        min-width: 1024px
        white-space: nowrap
        width: auto

        .button {
            cursor: pointer
        }

        .section {
            display: inline-block
            min-width: 500px
            vertical-align: middle
            white-space: normal

            &.right-section {
                min-width: 400px
                width: 55%
            }

            &.left-section {
                min-width: 400px
                width: 45%
            }

            .section-title {
                h3 {
                    margin: 0
                    margin-left: 4px
                }
            }

            .panel {
                background-color: #dff3fd
                border-radius: 5px
                margin: 10px
                padding: 10px
            }
        }
    }

    .candy {
        background-image: url('../data/media/images/candy.jpg')
    }

    .chalk {
        background-image: url('../data/media/images/chalk.jpg')
    }

    .jellyfish {
        background-image: url('../data/media/images/jellyfish.jpg')
    }

    .paint {
        background-image: url('../data/media/images/paint.jpg')
    }

    .pattern {
        background-image: url('../data/media/images/pattern.jpg')
    }

    .pencils {
        background-image: url('../data/media/images/pencils.jpg')
    }

    .play-stones {
        background-image: url('../data/media/images/play-stones.jpg')
    }

    .substances {
        background-image: url('../data/media/images/substances.jpg')
    }
}