.patterns {
    .patterns-holder {
        .pattern-button {
            display: inline-block;
            height: 110px;
            margin: 5px;
            overflow: hidden;
            padding: 0;
            width: 110px;
            border: 5px solid #DFF3FD;
            border-radius: 10px;

            &:hover {
                border: 5px solid #4882e6;
            }

            &.selected {
                border: 5px solid #324463;
            }

            img {
                height: 100%;
            }
        }
    }
}