<div class="lrn_input_ui lrn lrn_widget lrn_absolute_keyboard_parent custom-keypad-container">
    <div class="lrn-formula-keyboard lrn_clearfix lrn-ui-style-floating-keyboard" role="toolbar" aria-label="Formula keypad">
        <div class="lrn_toolbar lrn-formula-keyboard-menu lrn_clearfix">
            <div class="lrn-drag-area">
                <div class="lrn-drag-handler">
                    <span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="clearfix">
                <div class="lrn-formula-keyboard-menu-left">
                    <span class="lrn-formula-keyboard-hint lrn-empty">
                        <span class="lrn-hint-title">Equals</span>
                        <span class="lrn-hint-shortcut lrn-desktop-only">=</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="lrn-keyboard-holder">
            <div class="lrn-formula-keyboard-main lrn-keyboard-wrapper-4-columns">
                <div class="keypad-btn-group">
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Seven" data-mq-command="write" data-mq-value="7"
                        tabindex="-1" title="Seven" data-shortcut="7">7</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Eight" data-mq-command="write" data-mq-value="8"
                        tabindex="-1" title="Eight" data-shortcut="8">8</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Nine" data-mq-command="write" data-mq-value="9" tabindex="-1"
                        title="Nine" data-shortcut="9">9</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-operator" aria-label="Divided by" data-mq-command="write" data-mq-value="÷"
                        tabindex="-1" title="Divided by" data-shortcut="÷">
                        <span aria-hidden="true">÷</span>
                        <span class="sr-only">Divided by</span>
                    </button>
                </div>
                <div class="keypad-btn-group">
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Four" data-mq-command="write" data-mq-value="4" tabindex="-1"
                        title="Four" data-shortcut="4">4</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Five" data-mq-command="write" data-mq-value="5" tabindex="-1"
                        title="Five" data-shortcut="5">5</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Six" data-mq-command="write" data-mq-value="6" tabindex="-1"
                        title="Six" data-shortcut="6">6</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-operator" aria-label="Multiplied by" data-mq-command="write" data-mq-value="×"
                        tabindex="-1" title="Multiplied by" data-shortcut="×">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Multiplied by</span>
                    </button>
                </div>
                <div class="keypad-btn-group">
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="One" data-mq-command="write" data-mq-value="1" tabindex="-1"
                        title="One" data-shortcut="1">1</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Two" data-mq-command="write" data-mq-value="2" tabindex="-1"
                        title="Two" data-shortcut="2">2</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Three" data-mq-command="write" data-mq-value="3"
                        tabindex="-1" title="Three" data-shortcut="3">3</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-operator" aria-label="Minus" data-mq-command="write" data-mq-value="-"
                        tabindex="-1" title="Minus" data-shortcut="-">
                        <span aria-hidden="true">-</span>
                        <span class="sr-only">Minus</span>
                    </button>
                </div>
                <div class="keypad-btn-group">
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Zero" data-mq-command="write" data-mq-value="0" tabindex="-1"
                        title="Zero" data-shortcut="0">0</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Decimal" data-mq-command="write" data-mq-value="."
                        tabindex="-1" title="Decimal" data-shortcut=".">.</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-num" aria-label="Comma" data-mq-command="write" data-mq-value=","
                        tabindex="-1" title="Comma" data-shortcut=",">,</button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-operator" aria-label="Plus" data-mq-command="write" data-mq-value="+"
                        tabindex="-1" title="Plus" data-shortcut="+">
                        <span aria-hidden="true">+</span>
                        <span class="sr-only">Plus</span>
                    </button>
                </div>
                <div class="keypad-btn-group">
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-dir" aria-label="Left" data-mq-command="keystroke" data-mq-value="Left"
                        tabindex="-1" title="Left" data-shortcut="">
                        <span aria-hidden="true" class="lrn_arrow_left"></span>
                        <span class="sr-only">Left</span>
                    </button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-dir" aria-label="Right" data-mq-command="keystroke" data-mq-value="Right"
                        tabindex="-1" title="Right" data-shortcut="">
                        <span aria-hidden="true" class="lrn_arrow_right"></span>
                        <span class="sr-only">Right</span>
                    </button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-dir" aria-label="Backspace" data-mq-command="keystroke" data-mq-value="Backspace"
                        tabindex="-1" title="Backspace" data-shortcut="">
                        <span aria-hidden="true" class="lrn_backspace"></span>
                        <span class="sr-only">Backspace</span>
                    </button>
                    <button type="button" class="lrn_btn_grid lrn-btn-grid-operator" aria-label="Equals" data-mq-command="write" data-mq-value="="
                        tabindex="-1" title="Equals" data-shortcut="=">
                        <span aria-hidden="true">=</span>
                        <span class="sr-only">Equals</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>