<div class="node-main-content-container bullet container-fluid">
    <div class="row">
        <div class="text-holder col-xs-12 col-md-12">
            {{this.bulletTitle}}
            <ul class="custom-bullet-list">
                {{#each this.bulletList}}
                <li>{{{this}}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>