<div class="node-main-content-container image-text container-fluid">
    <div class="row">
        <div class="text-holder col-xs-12 col-md-6">{{this.text}}</div>
        <div class="image-holder col-xs-12 col-md-6">
            <img src="{{this.img.url}}" class="image img-responsive" alt="{{this.img.alt}}" />
        </div>
    </div>
</div>