<div class="node-main-content-container kepler-video container-fluid">
    <div class="row">
        <div class="image-holder col-xs-12 col-md-12">
            <div class="thumbnail-holder">
                <img src="content/common/media/images/video-thumbnail.png" class="image img-responsive" alt="{{this.img.alt}}" />
                <div class="thumbnail-modal"></div>
                <div class="play-icon">
                    <button class="icon-video" data-target="kepler-video" data-json="{{this.dataJson}}" aria-label="Play" title="Play"></button>
                </div>
                <span class="video-text">{{this.text}}</span>
            </div>
        </div>
    </div>
</div>