<div class="node-main-content-container scratchpad container-fluid">
    <div class="row">
        {{#if this.showText}}
            <div class="label-text col-xs-12 col-md-12">Try for yourself.</div>
        {{/if}}
        <div class="button-holder col-xs-12 col-md-12">
            <button class="btn launch-btn scratchpad-launch-btn" data-target="kepler-scratchpad" data-json="{{this.dataJson}}"  data-use-custom-title="{{this.useCustomTitle}}">
                <i class="icon-launch-scratchpad-keplerskill"></i>
                <span>LAUNCH SCRATCHPAD</span>
                <i class="icon-filled-arrow-right"></i>
            </button>
        </div>
    </div>
</div>