<div class="node-main-content-container training container-fluid">
    <div class="row">
        {{#if hideText}}{{else}}<div class="label-text col-xs-12 col-md-12">Try for yourself.</div>{{/if}}
        <div class="button-holder col-xs-12 col-md-12">
            <button class="btn launch-btn" data-target="kepler-training" data-json="{{this.dataJsons.[0]}}">
                <i class="icon-practice"></i>
                <span>LAUNCH EXERCISE</span>
                <i class="fa fa-caret-right"></i>
            </button>
        </div>
    </div>
</div>