<div id="{{idPrefix}}tutorials-tab" class="tutorials-tab">
  <div class="temp-class">
    <div id="{{idPrefix}}tutorials-screen-1" class="tutorials-screen-1"></div>
  </div>
  <div id="{{idPrefix}}tutorials-screen-2" class="tutorials-screen-2"></div>
</div>
