<div class="animation-container">
    <div class="animation-wrapper" id="animation{{idx}}"></div>
    <div class="button-container">
        <button id="replay{{idx}}" data-id="{{idx}}" class="controlBtn replay right-align-controls"></button>
    </div>
</div>