<div class="control-button-container">
    <button id="continue-question{{idx}}" class="controlBtn continue right-align-controls">
        <span class="continue-align"></span>
        <i class="bil-icon-arrow-next"></i>
    </button>
    <button id="show-answer-question{{idx}}" class="controlBtn show-answer right-align-controls"></button>
    <button id="validate-question{{idx}}" class="controlBtn validate right-align-controls"></button>
</div>