<div class="desmos-container">
    <div class="desmos-item"></div>
    {{#if showMe}}
    <div class="show-me-desmos-item"></div>
    <div class="show-me-desmos-button-wrapper">
        <button class="desmos-show-me-btn" disabled>Show Me</button>
    </div>
    {{/if}}
</div>