<div class="random-type-container">
</div>
<div class="button-container">
    <button class="generate-random controlBtn">{{buttonText}}</button>
</div>
<div class="random-numbers-log" tabindex='0'>
    <table>
        <tbody>
            {{#times displayCount}}
            <tr>
                <td></td>
                <td></td>
            </tr>
            {{/times}}
        </tbody>
    </table>
</div>