<div id="{{idPrefix}}red-animation-modal" class="red-animation-modal"></div>
<div id="{{idPrefix}}meteor-animation-screen-1" class="meteor-animation-screen-1 meteor-animation-screen"></div>
<div id="{{idPrefix}}meteor-animation-screen-2" class="meteor-animation-screen-2 meteor-animation-screen"></div>
<div id="{{idPrefix}}meteor-animation-screen-3" class="meteor-animation-screen-3 meteor-animation-screen"></div>