<div class="header">
    <button class="icon-bars" id="hamburger-menu" aria-label="Side Menu"></button>
    <div class="hbp-logo">
        <img src="content/common/media/images/hbp-logo.png" alt="Harvard Business Publishing"/>
    </div>
    <h1 class="title">Spreadsheet Modeling</h1>
    <div class="header-icons">
        <button class="icon-search" aria-label="Navigate to Search Page" data-toggle="tooltip" title="Search" data-placement="bottom" data-container="body"></button>
        <button class="icon-dashboard" aria-label="Navigate to Dashboard" data-toggle="tooltip" title="Dashboard" data-placement="bottom" data-container="body"></button>
        <button class="icon-glossary" aria-label="Navigate to Glossary Page" data-toggle="tooltip" title="Glossary" data-placement="bottom" data-container="body"></button>
        <button class="icon-ellipses" aria-label="More Options" data-toggle="tooltip" title="More Options" data-placement="bottom" data-container="body"></button>
    </div>
</div>
<div class="side-menu-modal hide-modal"></div>
<div class="footer-menu-modal" style="display: none;"></div>