<div class="side-menu">
    <div class="side-menu-content scrollable no-transition custom-scrollbar">
        <ul class="side-menu-accordion level1" aria-labelledby="CHAPTERS-title" role="tree">
            {{&testHelper mainLinks}}
        </ul>
    </div>
</div>