<div class="right-nodes-container">
    <div class="divider divider-1"></div><button class="icon-arrow-left" aria-label="Previous question" title="Previous question"></button><span class="counters-holder">{{currentQuestion}} of {{totalQuestions}}</span><button class="icon-arrow-right" aria-label="Next question" title="Next question"></button>
    <span class="remaining-nodes"><div class="divider divider-2"></div>
    <button class="replay-holder"><i class="icon-replay"></i><span class="replay-text"> RETRY</span><div class="aligner"></div></button>
    <div class="divider divider-3"></div>
    <button class="hint-holder"><i class="icon-hint-off"></i><span class="hint-text"> HINT</span><div class="aligner"></div></button>
    <div class="divider divider-4"></div>
    <button class="help-holder"><i class="icon-help"></i><span class="help-text"> HELP</span><div class="aligner"></div></button></span>
</div>