<div class="skill-controls-main {{hintCls}}">
    <div class="top-band">
        <div class="left-container">
            <button class="icon-arrow-left"></button><span class="counters-holder">{{currentQuestion}} of {{totalQuestions}}</span><button class="icon-arrow-right"></button><div class="aligner"></div>
        </div>
        <div class="right-container">
            <div class="divider divider-1"></div><div class="hint-holder"><button class="icon-document"></button> HINT</div> <div class="divider divider-2"></div><button class="icon-document"></button><button class="icon-minus"></button><div class="aligner"></div>
        </div>
    </div>
    <div class="question-band">
        <div class="question-holder">{{questionText}}</div>
    </div>
</div>