<section class="context-menu hide" tabindex="0">
    <ul class="" >
        {{#each this}} <li class="content" aria-label="{{label}}" value="{{val}}" tabindex="0">{{label}}</li> {{/each}}
    </ul>
</section>