<div class="main-nav-content">
    <div class="logo-container">
        <div class="nfte-logo">
            <img src="assets/common/images/nfte-logo-header.png">
        </div>
    </div>
    <div class="activity-link">
        <a target="_blank" href='https://nftedemo.zeuslearning.com/#/CI'>Creativity and Innovation</a>
    </div>

    <div class="activity-link">
        <a target="_blank" href='https://nftedemo.zeuslearning.com/#/OR'>Opportunity Recognition</a>
    </div>
    <div class="activity-link">
        <a target="_blank" href='#/CWR'>Comfort with Risk</a>
    </div>
    <!-- <div class="activity-link">
        <a target="_blank" href='#/dlo'>Matching Template</a>
    </div> -->
    <div class="activity-link">
        <a target="_blank" href='#/FO'>Future Orientation</a>
    </div>
    <div class="activity-link">
        <a target="_blank" href='#/FAA'>Flexibility and Adaptability</a>
    </div>
    <div class="activity-link">
        <a target="_blank" href='#/ISR'> Initiative and Self Reliance</a>
    </div>
    <!-- <div class="activity-link">
        <a target="_blank" href='#/CTPS'>Critical Thinking and Problem Solving</a>
    </div>

    <div class="activity-link">
        <a href='#/dlo'>DLO Container</a>
    </div>
    <div class="activity-link-sub-text">with sample content</div> -->
</div>