.main-nav-content{
    text-align: center;
    overflow: hidden;
    background-color: white;
}
.logo-container{
  //  border-bottom: 1px solid #DEDEDE;
}
.nfte-logo{
    margin-top: 8px;
    margin-bottom: 8px;
}
.activity-link{
    margin-top: 16px;
    font-size: 20px; 
}
.activity-link-sub-text{
    font-size: 14px; 
    font-style: italic;
}